* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

body {
    display: flex;
    justify-content: center;
    margin-left: 0px auto;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(240, 242, 255, 0.701);
}

/* to make every thing inside one part of the page */
.webcontent {
    width: 80vw;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#top {
    background-color: rgba(2, 7, 138, 0.392);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*to handle the UL */
.top h1 {
    display: inline block;
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    gap: 0.3rem;
    font-size: 1.3rem;
    transition: transform 0.5s ease;
}

/* to handle the links and make them in one line*/
.nav-links li {
    display: inline-block;
    list-style-type: none;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*to design the links*/

.nav-links li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 1rem;
    transition: 0.1s;
}

.nav-links li a:hover {
    color: white;
    background-color: blueviolet;
    transition: 0.5s;
}

/* content part  */

#home {
    display: flex;
}

#pesonalphoto {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 1rem;
    justify-content: center;
}

.caption {
    display: inline-block;
    margin: 1rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    }

hr {
    height: 3px;
    background-color: #333;
    border: none;
    width: 80%;
    margin: 20px auto;
    border-radius: 1rem;
}

.inlinelink {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
    transition: 0.1s;
    font-weight: bolder;
    font-style: ita;
}

/*                                                                    Hanldling the image slider section                                    */

.photoslider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgdiv img {
    width: 600px;
    border-radius: 1rem;
    margin: 1rem;
}

.btndiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btndiv #previous {
    width: 7rem;
}

.btndiv #next {
    width: 7rem;
}

/*                                       Desinging the buttons of the sliding images */
.btndiv button {
    border: none;
    border-radius: 1rem;
    background-color: #5918ff;
    padding: 10px;
    color: white;
    font-weight: bolder;
    font-size: x-large;
}

.btndiv button:hover {
    cursor: pointer;
    background-color: #754bff;
}

.btndiv button:active {
    background-color: #9a7df8;
}

/*---------------------------------------------------------------------------------skills-------------------------------------------------------------------- */

#Skills h2 {
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
    font-size: 2rem;
}

#skills_paragraph,
.leave-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0.5rem;
    border-radius: 1rem;
    font-size: larger;
    background-color: #dbddf4;
    padding: 1.5rem;
}

/* ------------------------------------------------------------------------------------ contact -------------------------------------------------------------------- */

#contact-info {
    display: block;
    background-color: #dbddf4;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

#contact-info>h2,
.leave-message>h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}

.basic-info,
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    gap: 0.3rem;
}

.basic-info p {
    padding: 0;
    margin: 0 0 5px 0;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons a {
    background-color: #250d61;
    padding: 15px;
    text-align: center;
    color: white;
    border-radius: 1rem;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    width: 30%;
    gap: 30px;
}

.buttons a:hover {
    background-color: #1a0a38;
    color: white;
}

/*                                              leave a massage section                                              */

.leave-message {
    padding: 1rem;
    margin: 0.5rem 0 0 0;
}

#name,
#email,
#Message,
#submit {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    width: 74vw;
    max-width: 74vw;
    min-width: 74vw;
    background-color: aliceblue;
}

#name:hover,
#email:hover,
#Message:hover {
    background-color: rgb(230, 240, 242);
}

#submit {
    font-size: 1.3rem;
    background-color: #250d61;
    color: white;
}

#submit:hover {
    background-color: #1a0a38;
    color: white;
}
/* 
.up {
    text-decoration: none;
    background-color: #1a0a38;
    color: white;
    font-size: larger;
    font-weight: bolder;
    border-radius: 20px;
    ;
    padding: 20px;
    margin-left: 95%;
} */

.footer {
    text-align: center;
    font-size: 15px;
    color: rgb(118, 118, 118);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* handling the navigation bar */
@media(max-width: 950px) {
    .webcontent{
        margin-bottom: 3rem ;
    }
    #name,#email, #Message, #submit{
        width: 70vw;
        min-width: 70vw;
        max-width: 70vw;
    }
    
    #top {
        display: block;
    }

    .name {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .nav-links.is-bottom-bar {
        font-size: 1rem;
        font-weight: bolder;
        position: fixed;
        bottom: 0.4rem;
        left: 19.9vw;
        right: 0;
        z-index: 999;
        padding: 0.5rem;
        background-color: rgba(24, 30, 186, 0.5);
        width: 60vw;
        border-radius: 1rem;
    }
}

@media (max-width: 800px) {

    #name,#email, #Message, #submit{
        width: 70vw;
        min-width: 70vw;
        max-width: 70vw;
    }

    #skills_paragraph {
        padding: 1.2rem;
        margin-bottom: 1rem;
    }

    .basic-info,
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .buttons a {
        width: 75%;
        text-align: center;
    }

    #home {
        display: block;
    }

    .photo-related {
        display: block
    }

    .photo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgdiv img {
        width: 500px;
    }
}

@media(max-width:580px) {
     #name,#email, #Message, #submit{
        width: 70vw;
        min-width: 70vw;
        max-width: 70vw;
    }
    .imgdiv img {
        width: 375px;
    }
}


@media(max-width:450px) {
     #name,#email, #Message, #submit{
        width: 68vw;
        min-width: 68vw;
        max-width: 68vw;
    }

    #skills_paragraph {
        padding: 1rem;
    }

    .nav-links li {
        margin: 0;
    }

    .imgdiv img {
        width: 300px;
    }
}
